<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Om oss</h2>
                <hr class="primary">
                <h4 class="header-content-inner">Quarry Scan er et nyetablert kartleggingsfirma med kompetanse innenfor geomatikk og programmering. 
                    Vi i Quarry Scan gjør alt for å finne de løsningene som passer best for deg. Vi kan gjøre det meste innenfor kartlegging,
                     men har et hovedfokus på georeferert 3D-modellering, masseberegning, flyfoto og høydemodeller. 
                </h4>
                
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-md-offset-1 text-center">
                <div class="service-box">
                    <img src="img/profile/vebbo_rund_profil.png" class="img-responsive" alt="">
                    <h3>Hans Vebjørn Nordhagen</h3>
                    <h4>Daglig leder</h4>
                    <!--
                        <p class="text-muted">
                    </p>
                -->
                </div>
            </div>

            <div class="col-lg-5 col-md-5 text-center">
                <div class="service-box">
                    <img src="img/profile/anders_rund_profil.png" class="img-responsive" alt="">
                    <h3>Anders Karlsen</h3>
                    <h4>Nestleder</h4>
                    <!--
                    <p class="text-muted">En kar som ogsa gjar noko greario
                        xsdsadasasad adasadasdasadas 
                        adad sdsadad 
                    </p>
                -->
                </div>
            </div>
        </div>
    </div>
</section>
