<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Om oss</h2>
                <h3 class="header-content-inner">Vi driver med ting og tang. </h3>
                <hr class="primary">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-md-offset-1 text-center">
                <div class="service-box">
                    <img src="img/profile/hans.png" class="img-responsive" alt="">
                    <h3>Hans Vebjørn Nordhagen</h3>
                    <p class="text-muted">Nordhagen er en flink fyr som gjør
                        masse greier. skmekrmkl ksdmfskmfs ksfmskf skfmsf
                        sflmsfksmfksmf ksfmskfmskfmskfm skfm skfmskfm skfmskfms
                        ksmfksmfksmf ksmfksfm
                    </p>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 text-center">
                <div class="service-box">
                    <img src="img/profile/anders.png" class="img-responsive" alt="">
                    <h3>Anders er en avis</h3>
                    <p class="text-muted">Han er ikke like flink</p>
                </div>
            </div>
        </div>
    </div>
</section>
