<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ta kontakt!</h2>
                <hr class="primary">
                <p>Ring, send epost, eller fyll ut skjemaet under så kommer vi tilbake til deg så fort vi bare kan!mm</p>
            </div>


        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="mailto:{{ site.vebjorn_email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.vebjorn_email }}</p>
                </a>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="mailto:{{ site.anders_email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.anders_email }}</p>
            </a>
        </div>


    </div>
</section>
