<header>
    <div class="header-content">
        <div class="header-content-inner">
			<h1>Vi legger om driften. Ny nettside er på vei!</h1>
			<hr>
            <h1>Digitalisering og optimalisering av ditt brudd</h1>
            <hr>
            <p>Vi tilbyr et bredt utvalg av tjenester innen kartlegging med drone. Tjenestene vi tilbyr inkluderer blandt annet masseberegning, 3D-modellering og høydemodeller </p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Referanser</a>
        </div>
    </div>
</header>
